body {
	background-color: #f2f6f5;
}

h1 {
	text-align: center;
	font-size: 75px;
	color: #63707e;
	padding: 10px;
	font-family: 'Barriecito', cursive;
}

span {
	border-bottom: 2px solid gray;
}

p, h3 {
	font-family: 'Indie Flower', cursive;
	font-size: 18px;
}

img {
	margin-top: 30px;
	margin-left: 150px;
	width: 200px;
    height: 200px;
    display: block;
    position: relative;
}


.hide {
	visibility: hidden;
}

.start {
	text-align: center;
	margin: 40px auto;
	color: #93b5b3;
}

.main {
	width: 960px;
	margin: 25px auto;
	padding: 10px;
	border: 1px dashed #c8dad3;
}

.guess {
	display: flex;
	justify-content: center;
	margin: 25px;
}

.gameInfo {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 85px;
}

#wordPlace {
	font-size: 30px;
	letter-spacing: 15px;
}

#lettersGuessed {
	letter-spacing: 5px;

}

